.square {
	width: 3.5em;
	height: 4em;
	/* background-color: #8b4513; */
	background-color: #4e2b00
	color: #8b4513;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

#inner {
	justify-content: center;
}
h3 {
	text-align: center;
}
p {
	text-align: center;
}

table {
	margin: 0;
}
